label {
    padding-left: 6px;
    padding-bottom: 10px;
    font-style: italic;
}

button,
input,
select,
textarea {
    width: 100%;
    height: 42px;
    padding: 6px 16px;
    background: none;

    border-radius: 16px;
    border: 2px solid var(--theme-color-1);
    margin-bottom: 16px;
}

textarea {
    height: 100px;
}