h1 {
    width: 100%;
    color: var(--theme-color-1);
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 10px;
}

h2 {
    width: 100%;
    color: var(--theme-color-1);
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
}

h3 {
    width: 100%;
    color: var(--theme-color-1);
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 10px;
}