<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>SINH VIÊN KỸ THUẬT 2</title>

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>

<body>
    <!-- Menu ngang -->
    <header class="topbar">
        <img class="logo" src="../assets/pictures/logo-dang.PNG" alt="Logo">
        <h1>SINH VIÊN KHỐI KỸ THUẬT 2</h1>
    </header>

    <!-- Tiêu đề trang -->
    <main class="main-content">
        <div class="page-title">
            <h1>HỒ SƠ HƯỚNG DẪN <br> KẾT NẠP ĐẢNG VIÊN MỚI</h1>
        </div>

        <!-- Các ô dẫn link -->
        <div class="sub-content" x-data="{ data: {} }" x-init="loadData().then(d => data = d)">
            <div class="box-info">
                <h1>1. QUY TRÌNH KẾT NẠP ĐẢNG</h1>
                <ul>
                    <li>Được Đoàn khoa đánh giá hoàn thành xuất sắc nhiệm vụ</li>
                    <li>Hoàn thành và đạt bài thu hoạch Đoàn viên ưu tú</li>
                    <li>Hoàn thành và đạt bài thu hoạch lớp Nhận thức Đảng</li>
                    <li>Thực hiện khai lý lịch và chuẩn bị hồ sơ kết nạp</li>
                    <li>Hướng dẫn số 06: <a :href="data.quyTrinh">TẠI ĐÂY</a></li>
                </ul>
            </div>

            <div class="box-info">
                <h1>2. KHAI LÝ LỊCH BẢN MỀM</h1>
                <ul>
                    <li>Khai lý lịch bản mềm: <a :href="data.lyLich">TẠI ĐÂY</a></li>
                    <li>Hướng dẫn khai lý lịch: <a :href="data.huongDan">TẠI ĐÂY</a></li>
                </ul>
            </div>
        </div>
    </main>
</body>

<script>
    function loadData() {
        return fetch('../data/ket-nap.json')
            .then(res => res.json())
    }
</script>


</html>