<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>SINH VIÊN KỸ THUẬT 2</title>

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>

<body>
    <!-- Menu ngang -->
    <header class="topbar">
        <img class="logo" src="../assets/pictures/logo-dang.PNG" alt="Logo">
        <h1>SINH VIÊN KHỐI KỸ THUẬT 2</h1>
    </header>

    <!-- Tiêu đề trang -->
    <main class="main-content">
        <div class="page-title">
            <h1>HỒ SƠ HƯỚNG DẪN <br> KẾT NẠP ĐẢNG VIÊN MỚI</h1>
        </div>

        <!-- Các ô dẫn link -->
        <div class="sub-content" x-data="{ data: {} }" x-init="loadData().then(d => data = d)">
            <div class="box-info">
                <h1>0. QUY TRÌNH KẾT NẠP ĐẢNG</h1>
                <ul>
                    <li>Đạt mức xếp loại Đoàn viên: Hoàn thành xuất sắc nhiệm vụ</li>
                    <li>Đạt danh hiệu: Đoàn viên ưu tú</li>
                    <li>Đã hoàn thành: Lớp học Nhận thức về Đảng (Đạt)</li>
                    <li>Thực hiện khai lý lịch và chuẩn bị hồ sơ kết nạp</li>
                    <li>Hướng dẫn số 06: <a :href="data.quyTrinh">TẠI ĐÂY</a></li>
                </ul>
            </div>

            <div class="box-info">
                <h1>1. KHAI LÝ LỊCH BẢN MỀM</h1>
                <h2>1.1. Biểu mẫu và hướng dẫn</h2>
                <ul>
                    <li>Thực hiện: Quần chúng ưu tú được kết nạp</li>
                    <li>Khai lý lịch bản mềm: <a :href="data.lyLich">TẠI ĐÂY</a></li>
                    <li>Hướng dẫn khai lý lịch: <a :href="data.huongDan">TẠI ĐÂY</a></li>
                    <li>Mẫu lý lịch tham khảo: <a :href="data.thamKhao">TẠI ĐÂY</a></li>
                </ul>

                <br>

                <h2>1.2. Một số lưu ý khi khai lý lịch</h2>
                <ul>
                    <li>Tải file lên Google Drive sinh viên và chia sẻ quyền truy cập cho TDTU.</li>
                    <li>Đảm bảo file đúng định dạng theo mẫu hướng dẫn.</li>
                    <li>Địa chỉ khai theo chính quyền địa phương hai cấp.</li>
                    <li>Mục Lý luận chính trị ghi: <strong>"Đã được bồi dưỡng LLCT"</strong>.</li>
                    <li>Các mốc lịch sử chính trị phải liên tục, không để trống thời gian.</li>
                    <li>Người thân đã mất ghi <strong>"Đã chết"</strong> (không dùng từ cùng nghĩa) và nêu rõ nguyên nhân.</li>
                    <li>Nếu có thân nhân là đảng viên, ghi rõ thời gian kết nạp, Chi bộ và Đảng bộ kết nạp, nơi sinh hoạt hiện nay.</li>
                    <li>Tên trường tổ chức lớp Nhận thức về Đảng:
                        <ul>
                            <li>Từ 01/01/2025: <strong>Đảng bộ UBND Thành phố Hồ Chí Minh</strong>.</li>
                            <li>Trước 31/12/2024: <strong>Đảng uỷ khối Đại học, Cao đẳng Thành phố Hồ Chí Minh</strong>.</li>
                        </ul>
                    </li>
                    <li>Ghi rõ tháng năm, hình thức được khen thưởng (từ bằng khen trở lên) từ xưa đến nay. Chỉ ghi các khen thưởng tiêu biểu nhất, các khen thưởng cùng hạng mục thì ghi ở cấp khen thưởng cao nhất.</li>
                </ul>
            </div>



            <div class="box-info">
                <h1>2. ĐƠN XIN VÀO ĐẢNG</h1>
                <ul>
                    <li>Thực hiện: Quần chúng ưu tú được kết nạp</li>
                    <li>Hỗ trợ: Đảng viên hướng dẫn</li>
                    <li>Mẫu Đơn xin vào Đảng: <a :href="data.donXinVaoDang">TẠI ĐÂY</a></li>
                </ul>
            </div>



            <div class="box-info">
                <h1>3. GIẤY GIỚI THIỆU NGƯỜI VÀO ĐẢNG</h1>
                <ul>
                    <li>Thực hiện: Đảng viên hướng dẫn</li>
                    <li>Mẫu Giấy giới thiệu: <a :href="data.giayGioiThieu">TẠI ĐÂY</a></li>
                </ul>
            </div>



            <div class="box-info">
                <h1>4. TỔNG HỢP Ý KIẾN CỦA ĐOÀN THỂ CHÍNH TRỊ, NƠI CƯ TRÚ</h1>
                <h2>4.1. Giấy nhận xét của Đoàn Khoa, Chi Đoàn</h2>
                <ul>
                    <li>Thực hiện: Đoàn khoa, Chi đoàn</li>
                    <li>Hỗ trợ: ĐVHD/Quần chúng chủ động liên hệ Đoàn Khoa</li>
                    <li>Yêu cầu Đoàn Khoa tổ chức họp nhận xét để kết nạp Đảng</li>
                    <li>Cung cấp đủ thông tin cần thiết cho Đoàn thể</li>
                    <li>
                        Biểu mẫu tham khảo: 
                        <a :href="data.nghiQuyetDK">NGHỊ QUYẾT</a>, 
                        <a :href="data.nhanXetDK">BIÊN BẢN</a> 
                        (Đoàn khoa)
                    </li>
                    <li>Biểu mẫu tham khảo: 
                        <a :href="data.nhanXetCD">BIÊN BẢN</a> (Chi đoàn)
                    </li>
                </ul>
                <br>
                
                <h2>4.2. Giấy nhận xét của Nơi cư trú</h2>
                <h3>4.2.1. Đối với quần chúng trong KTX</h3>
                <ul>
                    <li>Thực hiện: Chi ủy nơi cư trú</li>
                    <li>Hỗ trợ: ĐVHD hỗ trợ liên hệ Đảng uỷ</li>
                    <li>Đảng viên liên hệ Văn phòng Đảng ủy tại phòng A304 (xem lưu ý)</li>
                    <li>Quần chúng nộp về về cho Ban Quản lí ký túc xá Trường</li>
                    <li>Sau khi nhận lại giấy nhận xét kẹp cùng hồ sơ</li>
                </ul>
                <h3>4.2.1. Đối với quần chúng ngoài KTX</h3>
                <ul>
                    <li>Thực hiện: Chi ủy nơi cư trú</li>
                    <li>Hỗ trợ: ĐVHD hỗ trợ liên hệ Đảng uỷ</li>
                    <li>Quần chúng đảm bảo đã đăng ký tạm trú trước đó theo quy định</li>
                    <li>Đảng viên liên hệ Văn phòng Đảng ủy tại phòng A304 (xem lưu ý)</li>
                    <li>Quần chúng nộp về cho tổ chức đảng tại nơi cư trú</li>
                    <li>Sau khi nhận lại giấy nhận xét kẹp cùng hồ sơ</li>
                </ul>
                <br>
                <h3>* Lưu ý khi liên hệ Văn phòng Đảng ủy Trường:</h3>
                <ul>
                    <li>Đến Văn phòng Đảng ủy tại phòng A304</li>
                    <li>Gặp cô Thủy (vị trí phía trong, bên tay phải)</li>
                    <li>Trình bày rõ họ tên, chi bộ và xin giấy Nhận xét tổ chức đảng nơi cư trú để thực hiện Kết nạp Đảng viên mới cho quần chúng</li>
                </ul>
            </div>



            <div class="box-info">
                <h1>5. BẢNG ĐIỂM HỌC TẬP</h1>
                <ul>
                    <li>Thực hiện: Quần chúng ưu tú</li>
                    <li>Xin kết quả học tập học kỳ gần nhất</li>
                    <li>Điều kiện kết nạp Đảng: Từ 5.0 trở lên</li>
                    <li>
                        Truy cập Cổng thông tin sinh viên: <br>
                        <span style="margin-left: 25px;">→ Chọn mục Đào tạo</span> <br>
                        <span style="margin-left: 25px;">→ Chọn mục Hỗ trợ học vụ</span> <br>
                        <span style="margin-left: 25px;">→ Chọn mục Đơn xin cấp bảng điểm</span> <br>
                        <span style="margin-left: 25px;">→ Chọn mục Bảng điểm học kỳ</span> <br>
                        <span style="margin-left: 25px;">→ Chọn mục Học kỳ gần nhất</span> <br>
                    </li>
                    <li>Nhận bảng điểm học tập kẹp cùng hồ sơ</li>
                </ul>
            </div>

            <div class="box-info">
                <h1>6. BẢNG ĐIỂM RÈN LUYỆN</h1>
                <ul>
                    <li>Thực hiện: Quần chúng ưu tú</li>
                    <li>Xin kết quả rèn luyện học kỳ gần nhất</li>
                    <li>Điều kiện chuyến Đảng chính thức: Từ 65 trở lên</li>
                    <li>
                        Truy cập Cổng thông tin sinh viên: <br>
                        <span style="margin-left: 25px;">→ Chọn mục Công tác sinh viên</span> <br>
                        <span style="margin-left: 25px;">→ Chọn mục Đăng ký chứng nhận</span> <br>
                        <span style="margin-left: 25px;">→ Chọn mục Bổ sung hồ sơ cá nhân</span> <br>
                        <span style="margin-left: 25px;">→ Chọn mục Chứng nhận kết quả rèn luyện</span> <br>
                        <span style="margin-left: 25px;">→ Chọn mục Chứng nhận kết quả rèn luyện</span> <br>
                        <span style="margin-left: 25px;">→ Chọn mục Lý do: Bảng điểm rèn luyện HK..., năm
                            học ... - ... để kết nạp Đảng</span> <br>
                    </li>
                    <li>Nhận bảng điểm rèn luyện kẹp cùng hồ sơ</li>
                </ul>
            </div>

            <div class="box-info">
                <h1>7. BẢNG NHẬN XÉT CỦA GIẢNG VIÊN CỐ VẤN</h1>
                <ul>
                    <li>Thực hiện: Giảng viên cố vấn</li>
                    <li>Hỗ trợ: Đảng viên hướng dẫn</li>
                    <li>Quần chúng gửi mail nhờ GVCN nhận xét</li>
                    <li>Đính kèm biểu mẫu nhận xét vào cùng mail</li>
                    <li>Nhận bản nhận xét (chữ ký sống) kẹp cùng hồ sơ</li>
                    <li>Biểu mẫu tham khảo: <a :href="data.nhanXetGVCV">TẠI ĐÂY</a></li>
                </ul>
            </div>
        </div>
    </main>
</body>

<script>
    function loadData() {
        return fetch('../data/ket-nap.json')
            .then(res => res.json())
    }
</script>


</html>