<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>SINH VIÊN KỸ THUẬT 2</title>

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>

<body>
    <!-- Menu ngang -->
    <header class="topbar">
        <img class="logo" src="../assets/pictures/logo-dang.PNG" alt="Logo">
        <h1>SINH VIÊN KHỐI KỸ THUẬT 2</h1>
    </header>

    <!-- Tiêu đề trang -->
    <main class="main-content">
        <div class="page-title">
            <h1>DỮ LIỆU ĐIỂM DANH <br> SINH HOẠT CHI BỘ</h1>
        </div>

        <!-- Các ô dẫn link -->
        <div class="sub-content">
            <h2>Tính năng đang phát triển</h2>
        </div>
    </main>
</body>

</html>